.searchResults{
    width: 60%;
    background-color: #3527b3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    min-height: 40vh;
    margin-right: 40px;
}
@media(max-width: 768px){
    .searchResults{
        width: 80%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}