.app {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #18085f;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;

  }

  .header {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #6e32cd;
  }
  .mmm{
    color: #220afa;
  }

.mainContainer {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: baseline;
    width: 80%;
    margin-top: 20px;
  }
  
  .footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #a29bfe;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  
    .mainContainer {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .footer {
      font-size: 0.7rem;
    }
  }